[Desktop Entry]
Type=Application
Icon=system-reboot-update-symbolic
Name=Update System
Name[en]=Update System
Name[en_US]=Update System
Name[en_US.UTF-8]=Update System
Comment=Update the entire system then reboot
Comment[en]=Update the entire system then reboot
Comment[en_US]=Update the entire system then reboot
Comment[en_US.UTF-8]=Update the entire system then reboot
Exec=/usr/bin/konsole -e /opt/mediabox-scripts/updater.sh
PrefersNonDefaultGPU=false
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false
Categories=System